*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --primary-color:#cbe3b3;
    --secondary-color:#dfac81;
    --ternary-color: #eff5eb;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ededed;
}
.main{
    border: solid 2px;
    padding: 20px;
    height: 600px;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 0;
}
.heading {
    font-size: 1.5rem;
    font-weight: bolder;
   
    border: solid 2px;
    text-align: center;
    padding: 5px;
    background-color: var(--ternary-color);
    .t{
        background-color: var(--secondary-color);
        border: solid 2px;
        font-size: 2rem;
        margin-bottom: 10px;
        padding: 5px;
    }
}

.form{
    margin: 20px 0;
    display: flex;
    align-items: center;
    
}

#date {
  
  padding: 10.4px;
  border: none;
  border-bottom: 2px solid #000;
  background-color: white;
  cursor: pointer;
  color: transparent;
}

#date::-webkit-datetime-edit {
  display: none;
}

#date::-webkit-calendar-picker-indicator {
  opacity: 1;
  cursor: pointer;
}

#date::-moz-datetime-edit {
  display: none;
}

#addTask{
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    padding: 8px 10px;
    font-size: 1.2rem;
   
}

.addbutton{
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #000;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 4px 4px 0px;
}

.addbutton:hover{
    box-shadow: none;
    transform: translate(1px,1px);
}

.btn{
    border: #000 solid 2px;
    padding: 5px;
    font-size: .9rem;
    font-weight: bold;
    transition: all .25s ease;
    background-color: white;
}
.active{
    background-color: var(--secondary-color);
    box-shadow: 4px 4px 0px;
}
.btn:hover{
    box-shadow: 4px 4px 0px #000;
    transform: translate(-1px,-1px);
}

.tasks{
  
    
    
    margin: 20px 0;
    background-color: var(--ternary-color);
    padding: 20px;
    min-height: 300px;

    .task{
        display: flex;
        gap: 20px;
        margin: 0px 0 20px;
    }
    .title{
        border: #000 solid 2px;
        box-shadow: 4px 4px 0px var(--secondary-color),
                    6px 6px 0px #000;
        padding: 5px;
        font-weight: bolder;
        background-color: white;
        height: 20px;
                    
    }
    #check{
        padding: 10px;
        height: 33px;
        width: 33px;
        border: #000 solid 2px;
        box-shadow: 4px 4px 0px var(--secondary-color),
                    6px 6px 0px #000;

        cursor: pointer;
        accent-color: white;
        outline: none;
    }
    #check:checked{
        
        border: 2px solid #000; /* keep border */
    }
}

